POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<db>

RABBITMQ__USERNAME=<user>
RABBITMQ__PASSWORD=<password>
RABBITMQ__HOST=<host>
RABBITMQ__VIRTUALHOST=/

CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=<host>;Port=5432;Database=<db>;Username=<user>;Password=<password>