Postgres_User=<user>
Postgres_Password=<password>
Postgres_DB=<db>

RabbitMQ__Username=<user>
RabbitMQ__Password=<password>
RabbitMQ__Host=<host>
RabbitMQ__VirtualHost=/

MongoDB__ConnectionString=mongodb://localhost:27017
MongoDB__DatabaseName=fcg_catalog

ConnectionStrings__DefaultConnection=Host=<host>;Port=5432;Database=<db>;Username=<user>;Password=<password>
ConnectionStrings__Redis=fcg-redis:6379,abortConnect=false

Elasticsearch__Uri=<uri>
Elasticsearch__IndiceJogos=jogos
# Elasticsearch__CloudId=<cloud_id>
# Elasticsearch__ApiKey=<api_key>